* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-style: normal;
}

body {
  background: rgb(197, 228, 231);
}

h3 {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

input {
  width: 311px;
  height: 48px;
  padding: 6px 17px 6px 45px;
  text-align: end;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  border: 0;
  border-radius: 5px;
  color: rgb(0, 71, 75);
  background: rgb(243, 249, 250);
}
input:focus-visible {
  outline-color: rgb(38, 194, 174);
}

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
}

.calculator-card {
  max-width: 375px;
  height: 789px;
  padding: 32px 24px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
}

.col__calculator h3 {
  color: rgb(94, 122, 125);
}
.col__calculator .input-box {
  position: relative;
  margin-bottom: 32px;
}
.col__calculator .input-box img {
  position: absolute;
  top: 16.87px;
  left: 19.26px;
  pointer-events: none;
}
.col__calculator .percents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 16px 0;
}
.col__calculator .percents button {
  width: 146.63px;
  font-size: 24px;
  line-height: 36px;
  padding: 6px 17.55px;
  border-radius: 5px;
  border: 0;
  color: rgb(255, 255, 255);
  background: rgb(0, 71, 75);
  transition: 0.26s;
  display: block;
  margin-bottom: 16px;
  cursor: pointer;
}
.col__calculator .percents button:focus {
  color: rgb(0, 71, 75);
  background: rgb(38, 194, 174);
}
.col__calculator .percents .custom {
  width: 146.63px;
  font-size: 24px;
  line-height: 36px;
  padding: 6px 17.55px;
  border-radius: 5px;
  border: 0;
  color: rgb(84, 120, 120);
  background: rgb(243, 249, 250);
  transition: 0.26s;
  margin-bottom: 16px;
}

.col__calculator-result {
  background: rgb(0, 71, 75);
  padding: 37px 22px 24px 24px;
  border-radius: 15px;
}
.col__calculator-result h3 {
  color: rgb(255, 255, 255);
}
.col__calculator-result .calculator-results {
  margin-bottom: 32px;
}
.col__calculator-result .calculator-results .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.col__calculator-result .calculator-results .col .result__name p {
  font-size: 13px;
  line-height: 19px;
  color: #7F9D9F;
}
.col__calculator-result .calculator-results .col .result__number p {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.666667px;
  color: #26C2AE;
}
.col__calculator-result .calculator-results .col:first-child {
  margin-bottom: 23px;
}
.col__calculator-result button {
  width: 146.63px;
  font-size: 24px;
  line-height: 36px;
  padding: 6px 17.55px;
  border-radius: 5px;
  border: 0;
  color: rgb(0, 71, 75);
  background: rgb(38, 194, 174);
  transition: 0.26s;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .container {
    align-items: center;
  }
  .calculator-card {
    display: flex;
    max-width: 920px;
    padding: 32px 32px 32px 48px;
    height: 481px;
    border-radius: 25px;
  }
  .col__calculator {
    width: 379px;
    margin-right: 48px;
  }
  .col__calculator .input-box {
    margin-bottom: 40px;
  }
  .col__calculator .input-box input {
    width: 379px;
  }
  .col__calculator .percents {
    margin-bottom: 24px;
  }
  .col__calculator .percents button, .col__calculator .percents .active, .col__calculator .percents .custom {
    width: 117px;
    padding: 6px 14px;
  }
  .col__calculator-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 413px;
    padding: 40px;
  }
  .col__calculator-result .calculator-results .col .result__number p {
    font-size: 48px;
    line-height: 71px;
  }
  .col__calculator-result .calculator-results .col:first-child {
    margin-bottom: 37px;
  }
}/*# sourceMappingURL=style.css.map */